amqp==1.4.9
anyjson==0.3.3
appdirs==1.4.3
attrs==18.1.0
billiard==3.3.0.23
cached-property==1.4.3
celery==3.1.15
certifi==2018.4.16
cffi==1.13.2
chardet==3.0.4
cryptography==2.8
defusedxml==0.5.0
Django==1.11.28
django-appconf==1.0.2
django-celery==3.1.17
django-cleanup==0.4.0
django-compressor==2.2
django-debug-panel==0.8.3
django-debug-toolbar==1.9.1
django-environ==0.4.4
django-grappelli==2.10.4
django-js-asset==1.0.0
django-money==0.9.1
django-mptt==0.9.0
django-reversion==2.0.6
django-webpack-loader==0.6.0
EasyProcess==0.2.8
ecdsa==0.13.3
enum34==1.1.6
Fabric==1.12.0
gunicorn==19.6.0
html5lib==1.0b10
httplib2==0.18.0
idna==2.7
IMAPClient==0.13
imgkit==1.0.2
ipaddress==1.0.23
isodate==0.6.0
kombu==3.0.37
mysqlclient==1.4.4
lxml==4.2.6
paramiko==2.0.9
Pillow==6.2.2
py-moneyed==0.6.0
pycparser==2.19
PyJWT==1.7.1
pyminizip==0.2.4
pyOpenSSL==19.1.0
PyPDF2==1.26.0
python-dateutil==2.5.3
pytz==2019.3
PyVirtualDisplay==0.2.5
rcssmin==1.0.6
reportlab==3.3.0
requests==2.20.0
requests-toolbelt==0.8.0
rjsmin==1.0.12
simplejson==3.17.0
six==1.10.0
sorl-thumbnail==12.4.1
sqlparse==0.2.4
Unidecode==1.0.22
urllib3==1.24.2
vine==1.1.3
vobject==0.9.6.1
webencodings==0.5.1
xhtml2pdf==0.2.1
XlsxWriter==1.0.2